<!DOCTYPE html>
<html>
  <head>
    <title>ScratchTools</title>
    <link rel="stylesheet" href="/style.css?nocache=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/logo.svg" />
  </head>
  <body class="top-part">
    <div class="nav">
      <a href="/" class="title">
        <img class="logo" src="/images/logo.svg" />
        <span class="titlespan">ScratchTools</span>
      </a>
      <div class="right">
        <a href="https://docs.scratchtools.app">Docs</a>
        <a href="https://github.com/STForScratch/ScratchTools">Contribute</a>
        <a
          class="download-btn"
          href="https://chrome.google.com/webstore/detail/scratchtools/jjnpbalpllpfdpgplpbcbadkgdmleopm"
        >
          <button>Get ScratchTools</button>
        </a>
      </div>
    </div>
    <div class="orange-bg"></div>
    <div class="top">
      <div class="half example">
        <img src="/images/popup.svg" class="popup" />
      </div>
      <div class="half perfect">
        <h1>The perfect extension for Scratch.</h1>
      </div>
    </div>
    <h1 data-id="about">About ScratchTools</h1>
    <p style="margin-left: 15%; margin-right: 15%" data-id="about-pg">
      ScratchTools is a community-built Chrome and Firefox extension made for
      Scratch. It makes Scratching easier, through dozens of edits to the
      Scratch UI to make Scratch better than ever. Our group of developers,
      artists, brainstormers, beta testers, and press release managers all come
      from Scratch.
    </p>
    <?xml version="1.0" encoding="UTF-8"?>
    <svg
      id="Layer_1"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1256 190.39"
      class="squiggle"
    >
      <defs>
        <style>
          .cls-1 {
            fill: #ff9f00;
          }
        </style>
      </defs>
      <path
        class="cls-1"
        d="m1256,85.56v50.57c-39.97,21.07-102.24,41.36-199.06,51.63-16.5,1.75-31.79,2.63-46.02,2.63-34.23,0-62.37-5.1-86.6-15.52-31.34-13.48-51.49-33.92-70.97-53.68-18.6-18.87-36.17-36.69-64.44-50.85-32.85-16.47-75.67-25.18-130.9-26.65-138.67-3.68-198.36,32.06-261.57,69.9-52.91,31.67-107.62,64.42-206.49,74.18-51.43,5.08-96.59.64-134.23-13.19-20.97-7.72-39.62-18.31-55.72-31.63v-65.12c3.55,5.68,7.76,11.49,12.76,17.18,15.38,17.5,35.36,30.73,59.36,39.32,31.17,11.15,69.38,14.59,113.56,10.23,89.19-8.81,137.4-37.68,188.45-68.24C439.88,36.96,507.87-3.75,659.16.28c61.73,1.64,110.54,11.85,149.21,31.23,34.69,17.38,56.59,39.6,75.91,59.19,18.06,18.32,33.66,34.15,57.2,44.27,27.18,11.69,62.41,14.74,110.88,9.6,59.86-6.35,142.41-20.84,195.73-53.82,2.84-1.76,5.48-3.5,7.91-5.19Z"
      />
    </svg>
    <h1 data-id="features-title">Features</h1>
    <p data-id="features-short">
      Here are some of the features that it includes.
    </p>
    <div class="new-features">
      <div class="feature">
        <div class="colorful-design"></div>
        <h2>Show if User is Online</h2>
        <p>
          On profile pages, displays if a user is online. This will also let
          other users see if you are online.
        </p>
      </div>
      <div class="feature">
        <div class="colorful-design"></div>
        <h2>Display Names</h2>
        <p>
          Shows display names for Scratchers, and allows you to set your own
          display name. Display names show next to your username, and aren't
          limited like usernames are.
        </p>
      </div>
      <div class="feature">
        <div class="colorful-design"></div>
        <h2>Emoji Statuses</h2>
        <p>
          Set the status on your profile to an emoji. Other ScratchTools users
          will be able to see this status.
        </p>
      </div>
    </div>
    <a href="/features/"
      ><button class="more-features">View All 100+ Features</button></a
    >
    <h1 data-id="download-title">Download</h1>
    <p data-id="download-short">Enjoy ScratchTools in your own browser!</p>
    <div class="split-sections">
      <div class="section-left">
        <h4 data-id="download-available">
          ScratchTools is available on Chrome, Firefox, and Microsoft Edge!
        </h4>
        <a
          href="https://chrome.google.com/webstore/detail/scratchtools/jjnpbalpllpfdpgplpbcbadkgdmleopm"
          ><button>Chrome</button></a
        >
        <a href="https://addons.mozilla.org/en-US/firefox/addon/scratchtools/"
          ><button>Firefox</button></a
        >
        <a
          href="https://microsoftedge.microsoft.com/addons/detail/scratchtools/aaidjeidbnhpjhblbianjeghjopbimmk"
          ><button>Edge</button></a
        >
      </div>
      <div class="section-right">
        <h1 class="count"></h1>
        <script>
          document.querySelector(".count").textContent =
            Number("<%= count %>").toLocaleString();
        </script>
        <h4 data-id="download-users">Users</h4>
      </div>
    </div>
    <footer>
      <div class="about">
        <img class="footer-logo" src="/images/logo.svg" />
        <p>The perfect extension for Scratch.</p>
      </div>
      <div class="all-links">
        <section class="links">
          <b>Socials</b>
          <a href="https://youtube.com/@ScratchTools">YouTube</a>
          <a href="https://twitter.com/STForScratch">Twitter</a>
          <a href="https://server.scratchtools.app">Community Discord</a>
          <a href="https://discord.gg/kzScDPxE9J">Developer Discord</a>
        </section>
        <section class="links">
          <b>Development</b>
          <a href="https://github.com/STForScratch/ScratchTools">Repository</a>
          <a href="https://github.com/STForScratch">Organization</a>
          <a href="https://docs.scratchtools.app/docs/contributing/how"
            >Documentation</a
          >
          <a href="https://explore.transifex.com/scratchtools/scratchtools/"
            >Localization</a
          >
        </section>
        <section class="links">
          <b>Resources</b>
          <a href="/feedback/">Feedback</a>
          <a href="https://docs.scratchtools.app/docs/privacy-policy"
            >Privacy Policy</a
          >
          <a href="https://docs.scratchtools.app/blog">Blog</a>
          <a href="https://github.com/STForScratch/ScratchTools/discussions"
            >Discussions</a
          >
        </section>
      </div>
      <div class="language-select closed">
        <div class="active-language">
          <img class="dropdown-arrow" src="/images/arrow.svg" />
        </div>
        <div class="other-languages"></div>
      </div>
      <script>
        let languages = {
          en: "English",
          ja: "日本語",
          tr: "Türkçe",
        };

        let langSelect = document.querySelector(".language-select");

        Object.keys(languages).forEach(function (el) {
          let option = document.createElement("div");
          option.className = "lang-option";
          option.dataset.lang = el;

          let img = document.createElement("img");
          img.src = `/flag/${el}`;

          let span = document.createElement("span");
          span.textContent = languages[el];

          option.appendChild(img);
          option.appendChild(span);

          option.addEventListener("click", function () {
            langSelect.classList.remove("open");
            langSelect.classList.add("closed");
            document.cookie =
              "lang=" + el + "; expires=Thu, 18 Dec 9999 12:00:00 UTC; path=/";
            window.location.href = window.location.href;
          });

          langSelect.querySelector(".other-languages").appendChild(option);
        });

        function setActiveLang() {
          let lang = getActiveLanguage();
          let img = document.createElement("img");
          img.src = `/flag/${lang}/`;

          let span = document.createElement("span");
          span.textContent = languages[lang];

          langSelect.querySelector(".active-language").prepend(img, span);
        }
        setActiveLang();

        function getActiveLanguage() {
          const base64String = "<%= language %>";
          const byteCharacters = atob(base64String);
          const byteArray = new Uint8Array(byteCharacters.length);
          for (let i = 0; i < byteCharacters.length; i++) {
            byteArray[i] = byteCharacters.charCodeAt(i);
          }
          const textDecoder = new TextDecoder();
          return JSON.parse(textDecoder.decode(byteArray)).language;
        }

        document
          .querySelector(".active-language")
          .addEventListener("click", function () {
            if (langSelect.className.includes("open")) {
              langSelect.classList.remove("open");
              langSelect.classList.add("closed");
            } else {
              langSelect.classList.add("open");
              langSelect.classList.remove("closed");
            }
          });

        document.addEventListener("click", function (event) {
          let allLangNodes = [];
          document
            .querySelectorAll(".language-select *")
            .forEach(function (el) {
              allLangNodes.push(el);
            });
          if (!allLangNodes.includes(event.target)) {
            if (langSelect.className.includes("open")) {
              langSelect.classList.remove("open");
              langSelect.classList.add("closed");
            }
          }
        });
      </script>
    </footer>
  </body>
  <script>
    window.va =
      window.va ||
      function () {
        (window.vaq = window.vaq || []).push(arguments);
      };
  </script>
  <script defer src="/_vercel/insights/script.js"></script>
  <script>
    function decodeLocales() {
      const base64String = "<%= language %>";
      const byteCharacters = atob(base64String);
      const byteArray = new Uint8Array(byteCharacters.length);
      for (let i = 0; i < byteCharacters.length; i++) {
        byteArray[i] = byteCharacters.charCodeAt(i);
      }
      const textDecoder = new TextDecoder();
      window.messages = JSON.parse(textDecoder.decode(byteArray)).data;
      Object.keys(messages).forEach(function (el) {
        messages[el] = messages[el].message;
      });
      return;
    }
    decodeLocales();

    document.querySelector(".half.perfect h1").textContent =
      window.messages["banner.slogan"];

    document.querySelector(
      ".nav .right a[href='https://docs.scratchtools.app']"
    ).textContent = window.messages["nav.docs"];
    document.querySelector(
      ".nav .right a[href='https://github.com/STForScratch/ScratchTools']"
    ).textContent = window.messages["nav.contribute"];
    document.querySelector(".nav .right a.download-btn button").textContent =
      window.messages["nav.get"];

    document.querySelector('h1[data-id="about"]').textContent =
      window.messages["home.body.about"];
    document.querySelector('p[data-id="about-pg"]').textContent =
      window.messages["home.body.aboutLong"];

    document.querySelector('h1[data-id="features-title"]').textContent =
      window.messages["home.features.title"];
    document.querySelector('p[data-id="features-short"]').textContent =
      window.messages["home.features.short"];

    document.querySelector("button.more-features").textContent =
      window.messages["home.features.more"];

    document.querySelector('[data-id="download-title"]').textContent =
      window.messages["home.download.title"];
    document.querySelector('[data-id="download-short"]').textContent =
      window.messages["home.download.short"];
    document.querySelector('[data-id="download-available"]').textContent =
      window.messages["home.download.available"];
    document.querySelector('[data-id="download-users"]').textContent =
      window.messages["home.download.users"];
  </script>
</html>
